<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 공통으로 사용할 css, js 파일 등의 선언 코드를 모은 파일 -->
    <th:block th:fragment="configFragment">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">
            <title>가계부</title>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">

            <!-- CSS -->
            <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
            <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}" >

            <!-- JS -->
            <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
            <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
            <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
            <script th:src="@{/js/sb-admin-2.min.js}"></script>
            <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
            <script th:src="@{/js/demo/chart-area-demo.js}"></script>
            <script th:src="@{/js/demo/chart-pie-demo.js}"></script>
        </head>
    </th:block>
</html>