<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
<h1>Account List</h1>

<table AccountList = "1">
    <tr>
        <th>Number</th>
        <th>Account Name</th>
        <th>Deposit Amount</th>
        <th>User Name</th>
        <th>Bank Name</th>
    </tr>
    <tr th:each="a: ${account}">
        <td th:text="${a.id}"></td>
        <td th:text="${a.accountName}"></td>
        <td th:text="${a.depositAmount}"></td>
        <td th:text="${a.user.username}"></td>
        <td th:text="${a.bank.bankName}"></td>
    </tr>
</table>

<div class="page-num"
     th:with="start=${(pages.number/maxPage)*maxPage + 1},
                  end=(${(pages.totalPages == 0) ? 1 : (start + (maxPage - 1) < pages.totalPages ? start + (maxPage - 1) : pages.totalPages)})">
    <ul>
        <li th:if="${start > 1}">
            <a th:href="@{/account?(page=0)}" th:text="'<<'"></a></li>
        </li>

        <li th:if="${start > 1}">
            <a th:href="@{/account?(page=${start - maxPage})}" th:text="'<'"></a>
        </li>


        <li th:each="page: ${#numbers.sequence(start, end)}">
            <a th:href="@{/account?(page=${page-1})}" th:text="${page}"></a></li>
        </li>

        <li th:if="${end < pages.totalPages}">
            <a th:href="@{/board/list?(page=${start + maxPage})}" th:text="'>'"></a>
        </li>

        <li th:if="${end < pages.totalPages}">
            <a th:href="@{/board/list?(page=${pages.totalPages-1})}" th:text="'>>'"></a></li>
        </li>
    </ul>

</div>


</body>
</html>