<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
<h1>Account List</h1>

<table AccountList = "1">
    <tr>
        <th>Number</th>
        <th>Account Name</th>
        <th>Deposit Amount</th>
        <th>User Name</th>
        <th>Bank Name</th>
    </tr>
    <tr th:each="a: ${account}">
        <td th:text="${a.id}"></td>
        <td th:text="${a.accountName}"></td>
        <td th:text="${a.depositAmount}"></td>
        <td th:text="${a.user.username}"></td>
        <td th:text="${a.bank.bankName}"></td>
    </tr>
</table>

<nav style="text-align: center;">
    <ul class="pagination"
        th:with="start=${T(Math).floor(boardList.number/10)*10 + 1},
                    last=(${start + 9 < boardList.totalPages ? start + 9 : boardList.totalPages})">
        <li>
            <a th:href="@{/account(page=1)}" aria-label="First">
                <span aria-hidden="true">First</span>
            </a>
        </li>

        <li th:class="${accountList.first} ? 'disabled'">
            <a th:href="${accountList.first} ? '#' :@{/account(page=${accountList.number})}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>

        <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == accountList.number + 1} ? 'active'">
            <a th:text="${page}" th:href="@{/account(page=${page})}"></a>
        </li>

        <li th:class="${accountList.last} ? 'disabled'">
            <a th:href="${accountList.last} ? '#' : @{/account(page=${accountList.number + 2})}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>

        <li>
            <a th:href="@{/account(page=${accountList.totalPages})}" aria-label="Last">
                <span aria-hidden="true">Last</span>
            </a>
        </li>
    </ul>
</nav>

</body>
</html>