<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="EUC-KR">
    <title>Account Save From</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

<form method="POST" th:action="@{/account}" th:object="${accountDTO}">
    <h1>Save your Account creations!</h1>

    <h3>Write your personal Account...</h3>

    <div>
        <h3>Write your accountName :</h3>
        <input type="text" th:field="*{accountName}" />
        <br />
    </div>

    <div>
        <h3>Write your depositAmount :</h3>
        <input type="text" th:field="*{depositAmount}" />
        <br />
    </div>

    <div class="Bank" id="bank">
        <h3>Pick your bank:</h3>
        <div th:each="b : ${bank}">
            <input name="String" type="checkbox"
                   th:value="${b.bankName}" />
            <span th:text="${b.bankName}">BANKNAME</span><br />
        </div>
    </div>

    <input type="submit" value="Submit order" />
</form>
</body>
</html>